.moviedetails__container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.movieDetails{
  border-radius: 20px 20px 20px 5px;
  width: 500px;
  height: 500px;
  margin-top: -40px;
  margin-bottom: 40px;
}



.movieDetails__image{
    display: flex;
    justify-content: center;
    width: auto;

}

.movieDetails__image__controller{
    width: 40%;
    height: 40%;
    align-items: center;
}

.movieDetails__title{
    text-align: center;
    cursor: default;
    color: #990099;
    font-weight: bold;
}

.movieDetails__description{
    text-align: center;
    cursor: default;
    font-weight: bolder;
    color: aliceblue;
    word-break:keep-all;
    white-space:normal;
}