.moviedetails__container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.movieDetails{
  border-radius: 20px 20px 20px 5px;
  width: 500px;
  height: 500px;
  margin-top: -40px;
  margin-bottom: 40px;
}



.movieDetails__image{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.movieDetails__image__controller{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    opacity: 20%;
    margin-bottom: -100%;
}

.movieDetails__title{
    color:#ffffff;
    width: auto;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    word-break:keep-all;
    white-space:normal;
    filter: brightness(5);
    margin-bottom: 10%;
}

.movieDetails__description{
    text-align: center;
    cursor: default;
    font-weight: bolder;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    filter: brightness(5);
}