.slider{
    display: flex;
    align-items: center;
    height: 360px;
    justify-content: space-around;
    background-color: rgb(216, 228, 240);
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding-top: 0.8rem;
}
.caroussel{
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 90%;
}

.slider__button{
    cursor: pointer;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: rgb(255, 255, 255);
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
