::-webkit-scrollbar{
    display: none;
}

.slider{
    display: flex;
    align-items: center;
    height: 350px;
    background-color: rgb(230, 243, 255);
    border-top:1px solid black;
    border-bottom: 1px solid black;
    gap:1rem;
    overflow-x: scroll;
}

