.movieCard{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    cursor: pointer;
}

.movieCard img{
    height: 100%;
    width:100%;
}


.movieCard__title{
    color:#FFFCEF;
    font-family: monospace;
    margin-bottom: 200px;
    font-size: 40px;
}

/* .movieCard__modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 236px;
    background: rgb(255, 174, 0);
    border-radius: 5px;
    position:absolute;
    word-break: break-all;
    top:12px;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
    pointer-events:none;
    border-radius: 10px 10px 10px 10px;
} */

.movieCard__title__description{
    color: #FFFCEF;;
    height: 6rem;
    width:200px;
}

/* .movieCard:hover ~ .movieCard__modal{
    opacity: 1;
} */