.border{
    display: flex;
    justify-content: center;
    width:190px;
    background: linear-gradient(to top, rgba(255, 187, 187, 0.6), rgba(216, 87, 216, 0.3));
    filter: blur(5px);
    height: 90%;
}

.movieCard{
    position:relative;
    display: flex;
    flex-shrink:0;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: linear-gradient(to top, rgba(255, 187, 187, 0.6), rgba(216, 87, 216, 0.3));
    height: 100%;
    width:200px;
}

.movieCard img{
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.movieCard h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}


/* .card__img{
    width: 25%;
    height: 25%;
    align-items: center;
}
 */