.searchBar{
    border-radius: 20px 20px 20px 20px;
    width: auto;
    border: 1px solid black;
    background: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.searchBar form{
    display: flex;
    align-items: center;
    padding:0px 0px 0px 20px;
}

.searchBar__submit{
    background:#FFFCEF;
    padding: 2px 10px 2px 10px;
    border:none;
    transition:0.5s;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
}

.searchBar__submit:hover{
    background:#ffbf35;
    cursor: pointer;
}

.noAtr{
    outline:none;
    border:none;  
    border-radius: 20px 20px 20px 20px;
    
}
