.searchBar{
    border-radius: 20px 20px 20px 20px;

}

.searchBar__submit{
    background-color:#a0a0a0;
    border-radius: 50%;
    width:35px;
    height: 30px;
}

.noAtr{
    outline:none;
    border:none;  
    border-radius: 20px 20px 20px 20px;
    
}
