.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 0.5px solid black;
}

.navbar__logo{
    height: 100%;
    cursor:default;
}

.navbar__buttons{
    text-transform: uppercase;
    display: flex;
    gap: 4rem;

}

.navbar__buttons__link{
    text-decoration: none;
    color: #990099;
    font-weight: bold;
}

.navbar__title{
    display: flex;
    align-items: center;
    height:100%;
    cursor: default;
}