.page{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(0.95turn, #000000,#313131);
}

.page__content{
    flex-grow: 1;
    margin-top: 5rem;
}

.page__footer{
    position: relative;
    border: black solid 1px;
    right:0;
    left:0;
    bottom: 0;
}
